librosa
faster-whisper
pydub
wavmark
numpy
eng_to_ipa
inflect
unidecode
whisper-timestamped
openai
python-dotenv
pypinyin
cn2an
jieba
langid
accelerate
huggingface-hub
Pillow
torch
torchvision
transformers
einops
gradio
huggingface_hub
ffmpeg-python
moviepy
opencv-python
faster_whisper
openai-whisper
pyaudio
SpeechRecognition
